t
a.out
*.o
*.a
*.d
.gdb_history
__pycache__
change-var
set-var
crashme
ret2win2
ret2win1
libcleak
call-number
call-string
setup-call
gadgets-easy
gadgets-medium
gadgets-hard
leak-me
leak-string
leak-many
overwrite-me
overwrite-specific
